openai==0.28.0
datasets
transformers==4.26.0
tqdm
wandb
word2word
langchain
python-dotenv
evaluate
spacy
networkx==1.11
seqeval
tiktoken
chromadb
torch
fschat
azure-ai-translation-text
google-cloud-aiplatform
msal
sentence-transformers
google-generativeai